<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffelist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />   
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
       	<uses-library android:name="com.google.android.maps"/>
        <activity
            android:name="com.example.coffelist.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nbpcorp.mobilead.sdk.MobileAdBrowserActivity" />
        <activity android:name="com.example.coffelist.adpost.AdPostActivity" />
        
        <activity
            android:name="com.example.coffelist.activity.CoffeList_Splash"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
                <activity
            android:name="com.example.coffelist.activity.ExpandableListViewDropTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.StarBucks"
            android:label="@string/title_activity_star_bucks" >
        </activity>
            <activity
            android:name="com.example.coffelist.activity.ExpandableListViewCoffeBene"
            android:label="@string/title_activity_star_bucks" >
        </activity>
         <activity
            android:name="com.example.coffelist.activity.ExpandableListViewTwosomePlace"
            android:label="@string/title_activity_star_bucks" >
        </activity>
           <activity
            android:name="com.example.coffelist.activity.ExpandableListViewEdiya"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.ExpandableListViewStarBucks"
            android:label="@string/title_activity_star_bucks" >
        </activity>
                <activity
            android:name="com.example.coffelist.activity.ExpandableListViewPasscucci"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.ExpandableListViewHollyCoffe"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.ExpandableListViewAngel"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.ExpandableListViewCoffeBean"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.LocationDemo"
            android:label="@string/title_activity_star_bucks" >
        </activity>
                <activity
            android:name="com.example.coffelist.activity.ExpandableListViewTomnToms"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.ExpandableListViewCoffinegurunaru"
            android:label="@string/title_activity_star_bucks" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.Tabs1"
            android:label="@string/title_activity_tabs1" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.Tabs2"
            android:label="@string/title_activity_tabs2" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.Tabs3"
            android:label="@string/title_activity_tabs3" >
        </activity>
        <activity
            android:name="com.example.coffelist.activity.Tab"
            android:label="@string/title_activity_tab" >
        </activity>

    </application>

</manifest>
